body {
    background-color: #E4E9FD;
    background-image: -webkit-linear-gradient(60deg, #A683E3 50%, #E4E9FD 50%);
    min-height: 1000px;
    font-family: 'helvetica neue';
  text-align:center;
}

.navbar{
    opacity:0.8;
    background-color: #A683E3;
}

.box {

    border-radius: 0;
    max-width: 400px;
    margin: auto;

}
.todoH1{

    border-radius: 0;  
    max-width: 400px;
    margin:auto;
    margin-top:8px;

}
h2 {
    text-align: center;
   border-radius:4px;
  margin:auto;
  margin-top:25px;
  padding:4px;
  margin-bottom:6px;
  background-color: #A683E3;
    color: white;
    max-width:80%;
}

.item {
    width: 80%;
    display: inline-block;
    padding: 15px 5px;
    border-bottom: 0.6px rgb(255, 240, 255)solid;
    text-align:left;
    margin:auto; 
    background-color: white;
}

.box:last-child {
    border-bottom: none;
  border-radius:5px;
}

button {
    background-color: #A683E3;
    border: 1px solid white;
    font-size: 1.5em;
    color: white;
    border-radius: 6px;

    margin: 5px auto;
}

input[type="text"] {
  
    display: inline-block;
    text-decoration: none;
    border: none;
    color: black;
    width: 80%;
    outline: none;

}

input[type="text"]:focus {
    border: none;
    width: 80%;
    color: black;
    align-items: left;
    text-align: left;
    font-size: 18px;

    box-shadow: inset 0 -3px 0 0 #A683E3;
}

input[type="checkbox"] {

    display: inline;

}

input[type="checkbox"]:checked+p {

    text-decoration: line-through;
    color: #A683E3;
}

p {
    display: inline;
    font-size: 20px;
 
    padding: 20px;
}

::placeholder {
    color: rgb(216, 216, 216);
    box-shadow: 5px 5px 15px -8px #A683E3;

}

.form {
    color: white;
    border-radius: 5px;
    position: relative;
    left: 5px;
    box-shadow: 4px 4px 4px rgb(68, 68, 68);
    background-color: white;
    text-align: center;
    width: 50%;
    max-width: 390px;
    margin: auto;
  margin-top:5px;
    align-items: center;
}
.item:first-child{
  border-radius:5px;
}

footer{
    margin-top:45px;
    color:rgb(67, 67, 67);
    text-align:center;
    font-size:110%;
}